@font-face {
    font-family: norse-bold;
    src: url("Norse-Bold.otf");
}

body {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.container {
    display: flex;
    justify-content: space-between;
}

.icon-holder {
    position: absolute;
    width: 500px;
    height: 150px;
    top: 20%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}
#icon {
    width: 300px;
    margin-top: 30px;
}

.sidebar {
    width: 500px;
    height: 100vh;
    text-align: center;
}

#main-image {
    width: 500px;
    height: 100vh;
}

.ref {
    position: absolute;
    bottom: 10px;
    left: 100px;
    color: white;
    opacity: 0.7;
    font-family: 'norse-bold';
}

a {
    color: white;
}

.main-content {
    flex: 1;
    height: 100vh;
}

.header, .footer {
    font-weight: 600;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    padding-top: 15%;
    padding-right: 30%;
    box-shadow: 2px -2px 2px rgba(190, 190, 190,0.3);
}

.login {
    color: rgb(5, 73, 53);
    text-decoration: none;
}

.login-text {
    margin: 10px 20px;
}
.create {
    color: white;
    margin: 15px 20px;
    background-color: rgb(6, 88, 64);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);      
    font-weight: 600;  
}
button {
    text-align: center;
}

.form-body {
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 2px;
}

.entry {
width: 30vw;
}

h2 {
    width: 100%;
}
