@font-face {
    font-family: norse-bold;
    src: url("Norse-Bold.otf");
}

body {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.container {
    display: flex;
    justify-content: space-between;
}

.icon-holder {
    position: absolute;
    width: 500px;
    height: 150px;
    top: 20%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}
#icon {
    width: 300px;
    margin-top: 30px;
}

.sidebar {
    width: 500px;
    height: 100vh;
    text-align: center;
}

#main-image {
    width: 500px;
    height: 100vh;
}

.ref {
    position: absolute;
    bottom: 10px;
    left: 100px;
    color: white;
    opacity: 0.7;
    font-family: 'norse-bold';
}

a {
    color: white;
}

.main-content {
    flex: 1;
}

.header {
    font-weight: 600;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    padding-top: 15%;
    padding-right: 30%;
}